<div class="text-center"><h2 id="dash-header">Dashboard</h2></div>
<div class="table-responsive">
<table>
    <tbody>
    <%(1..4).step(2) do |i|%>
        <tr>
            <td>
                <div id='myDiv<%=i%>' ></div>
                <%date=Date.today.beginning_of_month.months_ago(i)%>
                <% data = Candidate.get_status(date)%>
                <script>
                    var label = JSON.parse('<%=data.keys%>'.replace(/&quot;/g, '"'))
                    var data = [{
                    values: <%=data.values%>,   
                    labels: label,
                    type: 'pie'
                    }];
                    Plotly.newPlot('myDiv<%=i%>', data, {title:' <%=" #{date.strftime('%B %Y')}"%>', paper_bgcolor: "rgba(204, 218, 255,1)"}, {staticPlot: true});
                </script>
            </td>
            <td>
                <div id='myDiv<%=i+1%>' ></div>
                <%date=date.months_ago(1)%>
                <% data = Candidate.get_status(date)%>
                <script>
                    var label = JSON.parse('<%=data.keys%>'.replace(/&quot;/g, '"'))
                    var data = [{
                    values: <%=data.values%>,
                    labels: label,
                    type: 'pie'
                    }];
                    Plotly.newPlot('myDiv<%=i+1%>', data, {title: '<%=" #{date.strftime('%B %Y')}"%>', paper_bgcolor: "rgba(204, 218, 255,1)"}, {staticPlot: true});
                </script>
            </td>
        </tr>
        
    <%end%>
    </tbody>
</table>
</div>
<style>
.svg-container{
    background: blue;
}
#dash-header{
    font-size: 50px;
    padding-top:15px;
}
.text-center{
    padding-top:52px;
}
text.gtitle{
    font-size: 100px;
}

</style>
